<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>

    <div class="container">
        <br>
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <h1><%= question.title %></h1>
                <p> <%= question.description %> </p>
            </div>
        </div>
        
        <br>

        <form method="POST" action="/answer">  <!--ROUTE ANSWER DO INDEX.JS-->
            <h3 style="color: #FFFFFF; text-decoration: underline;">To Answer</h3>
            <label for="" style="color: #FFFFFF;"> Answer </label>
            <textarea placeholder="Insert the Answer" name="body" class="form-control" rows="6"></textarea> <br>
            <input type="hidden" name="question" value="<%= question.id %>" >
            <button type="submit" class="btn btn-light"> Answer </button>
        </form>
    </div>

    <hr>
    <h3>Answer(s)</h3>
    <hr>
    <% answers.forEach(answer => { %>
        <br>
        <%= answer.body %>
    <% }) %>

</body>
</html>